body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(13, 201, 201);
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

h1{
    color: orange;
}

h2{
    color: orange;
}

.sidebar{
    background-color: rgb(105, 20, 20);
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-book-button{
    background-color: yellow;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

#book-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 15px;
    top: 150px;
    width: 200px; 
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid brown;
    border-width: 6px;
    border-style: double;
    background-color: yellow;
  }

  .close{
    cursor: grab;
  }


form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.books{
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-template-rows: 300px;
    gap: 1em;
    padding: .75em;
    
}

.book-card{
    background-color: rgb(238, 58, 58);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    border-radius: 5px;

    border: 2px solid yellow;
    border-width: 6px;
    border-style: double;
}


.read-button{
    width: 65px;
    margin: 2px;
}

.remove-button{
    background-color: red;
    margin: 2px;
}